* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

img {
  height: 85px;
  width: 85px;
  margin-left: 1em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: black;
}

ul {
  display: flex;
}

li {
  margin: 20px;
  font-size: 20px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(210, 165, 5);
  transition: all 0.3s ease-in 0s;
}
